.heebo-400-0100r {
  font: 400 1rem/1.5 "Heebo", sans-serif;
}

.heebo-400-0125r {
  font: 400 1rem/1.4 "Heebo", sans-serif;
}

.heebo-500-0100r {
  font: 500 1rem/1.5 "Heebo", sans-serif;
}

.heebo-700-0100r {
  font: 700 1rem/1 "Heebo", sans-serif;
}

.heebo-700-0175r {
  font: 700 1.75rem/2.275 "Heebo", sans-serif;
}

.barlow-400-0100r {
  font: 400 1rem/1.5 "Barlow", sans-serif;
}

.barlow-400-0325r-it {
  font: italic 400 1.75rem/1 "Barlow", sans-serif;
}

.barlow-400-0325r {
  font: 400 3.2rem/1.35 "Barlow", sans-serif;
}

.barlow-400-0150r {
  font: 400 1.5rem/1 "Barlow", sans-serif;
}

.barlow-700-0100r-it {
  font: italic 700 0.875rem/1.5 "Barlow", sans-serif;
}

.barlow-700-0100r {
  font: 700 0.875rem/1.5 "Barlow", sans-serif;
}
